@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --text-primary: #FFFFFF;
  --text-secondary: #B1B1B1;
  --primary-color: #E82769; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-inter);
}


html {
  scroll-behavior: smooth;
  cursor: none;
}

a {
  cursor: none;
}

button {
  cursor: none;
}

.sticky-background {
  position: sticky;
  top: 0;
  height: 100vh;
  /* background: url("/background.jpg") center/cover no-repeat; */
}

h1{
  font-size: 4rem;
  line-height: 4.75rem;
}

h2{
  font-size: 3rem;
  line-height: 3.625rem;
}

h3{
  font-size: 2.5rem;
  line-height: 3rem;
}

h4{
  font-size: 2.25rem;
  line-height: 2.625rem;
}

p{
  text-align: justify;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}