@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --text-primary: #FFFFFF;
  --text-secondary: #B1B1B1;
  --primary-color: #E82769;
  --vh: 1dvh;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-inter);
  width: 100%;
  min-width: 1000px;
  -webkit-text-size-adjust: 100%;
}


html {
  scroll-behavior: smooth;
  cursor: none;
}

a {
  cursor: none;
}

button {
  cursor: none;
}


h1 {
  font-size: 4rem;
  line-height: 4.75rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.625rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h4 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

p {
  text-align: justify;
}

@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}

.full-height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}